body{
    background-image: url(https://wallpapers.com/images/hd/good-background-luptw2mhzqphkd7x.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#tophead{
    text-align:center; 
    font-size: 70px;
}